---
---

@import url('https://fonts.googleapis.com/css?family=Mina|Monoton');

body {
	margin: 0;
	font-family: 'Mina';
	colour: #FFF;
	background: darkpurple;

	h1 {
		color: lightpurple;
		font-family: Monoton;
	}
	h2, h3, h4, h5, h6 {
		font-weight: 900;
	}

	p {
		color: #FFF;
		font-weight: 300;
	}
}
