---
---

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300|Monoton');

$colour-bg: purple;
$colour-text: rgba(255,255,255,0.9);
$colour-link: rgba(255,255,255,1);
$colour-primary: #FF5722;

body {
	margin: 0;
	font-family: Ubuntu;
	color: $colour-text;
	font-size: 18px;
	font-weight: 100;
	line-height: 1.6em;
	background: $colour-bg;

	h1 {
		position: absolute;
		margin: 0;
		color: #db1ee4;
		font-family: Monoton;
		font-size: 140px;
		font-weight: 300;
		line-height: 1.2;
		text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.32), 1px 1px 2px rgba(0, 0, 0, 0.74), 0 0 20px #a958e2;
		opacity: 0.4;
	}
	h2, h3, h4, h5, h6 {
		margin: 0.6em 0 0.4em 0;
		font-weight: 900;
	}

	p {
		margin: 0 0 1em 0;
	}

	a {
		&:link,
		&:visited {
			color: $colour-link;
			text-decoration: none;
			border-bottom: 4px solid rgba(255,255,255,0.4);
			transition: all 0.2s;
		}
		&:hover,
		&:active {
			color: $colour-bg;
			background: $colour-link;
			border-bottom-color: $colour-link;
		}
	}

	.wrapper {
		margin: 0 auto;
		max-width: calc(900px + 30px);
		padding: 0 15px;
	}

	/* Layout */
	header {
		height: 40vw;
	    background: linear-gradient(90deg, #480032, #270250);
	    overflow: hidden;

		sun {
			display: block;
			position: relative;
		    width: 50vw;
		    height: 50vw;
		    margin: 0 auto;
			bottom: -10vw;
			background: linear-gradient(120deg, rgb(255, 249, 180), rgb(255, 210, 82));
		    box-shadow: 0 0 10vw 1vw rgba(255, 0, 141, 0.5), inset 0 0 10vw 0 rgba(255, 255, 255, 0.5), inset 0 0 0 1px #730151;
			border: 1px solid #720151;
			border-radius: 50vw;
		    overflow: hidden;

			line {
			    display: block;
				position: absolute;
				width: 110%;
				left: -5%;
			    background: #700050;

				&:nth-child(1) {
				    top: 5%;
				    height: 4vw;
				}
				&:nth-child(2) {
				    top: 15%;
				    height: 3vw;
				}
				&:nth-child(3) {
				    top: 24%;
				    height: 2vw;
				}
				&:nth-child(4) {
				    top: 32%;
				    height: 1.6vw;
				}
				&:nth-child(5) {
				    top: 42%;
				    height: 1.2vw;
				}
				&:nth-child(6) {
				    top: 51%;
				    height: 0.8vw;
				}
			}
		}
	}

	main {
		@extend .wrapper;
		display: grid;
		grid-template-areas: "blog blog aside";
	}

	main blog {
		grid-area: blog;
	}

	main aside {
		grid-area: aside;
	}
}
