---
---

@import url('https://fonts.googleapis.com/css?family=Nunito:200,900|Monoton');

$colour-bg: #080422;
$colour-text: rgba(255,255,255,0.85);
$colour-link: rgba(255,255,255,1);
$colour-primary: #FF5722;

@mixin line($dir, $num) {
	@for $i from 1 through $num
		&:nth-of-type($num) {
			$dir: (100 / $num) + $num;
		}
}

body {
	margin: 0;
	font-family: Nunito;
	color: $colour-text;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.6;
	background: $colour-bg;

	logo {
		display: block;
		position: absolute;
		color: #db1ee4;
		font-family: Monoton;
		font-size: 140px;
		font-weight: 300;
		line-height: 1.2;
		text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.32), 1px 1px 2px rgba(0, 0, 0, 0.74), 0 0 20px #a958e2;
		opacity: 0.4;
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 0.6em 0 0.4em 0;
		font-weight: 900;
		line-height: 1.2;
	}

	p {
		margin: 0 0 1em 0;
	}

	a {
		&:link,
		&:visited {
			color: $colour-link;
			text-decoration: none;
			border-bottom: 4px solid rgba(255,255,255,0.4);
			transition: all 0.2s;
		}
		&:hover,
		&:active {
			color: $colour-bg;
			background: $colour-link;
			border-bottom-color: $colour-link;
		}
	}

	.wrapper {
		margin: 0 auto;
		max-width: calc(900px + 30px);
		padding: 10vw 5vw 0;
	}

	/* Layout */
	header {
		height: 30vw;
	    background: linear-gradient(90deg, #480032, #270250);
	    overflow: hidden;

		sun {
			display: block;
			position: relative;
		    width: 40vw;
		    height: 40vw;
		    margin: 0 auto;
			bottom: -5vw;
			background: linear-gradient(120deg, rgb(255, 249, 180), rgb(255, 210, 82));
		    box-shadow: 0 0 10vw 1vw rgba(255, 0, 141, 0.5), inset 0 0 10vw 0 rgba(255, 255, 255, 0.5), inset 0 0 0 1px #730151;
			border: 1px solid #720151;
			border-radius: 40vw;
		    overflow: hidden;

			line {
			    display: block;
				position: absolute;
				width: 110%;
				left: -5%;
			    background: #700050;

				&:nth-child(1) {
				    top: 4%;
				    height: 4vw;
				}
				&:nth-child(2) {
				    top: 15%;
				    height: 3vw;
				}
				&:nth-child(3) {
				    top: 24%;
				    height: 2vw;
				}
				&:nth-child(4) {
				    top: 32%;
				    height: 1.6vw;
				}
				&:nth-child(5) {
				    top: 42%;
				    height: 1.2vw;
				}
				&:nth-child(6) {
				    top: 51%;
				    height: 0.8vw;
				}
			}
		}
	}

	main {
		@extend .wrapper;
		display: grid;
		grid-template-areas: "title title" "section section"  "aside aside";
		grid-row-gap: 2vw;
		grid-column-gap: 8vw;
		position: relative;

		@media (min-width: 640px) {
			grid-template-areas: "title title" "section aside";
		}

		h1 { grid-area: title; }
		section { grid-area: section; }
		aside { grid-area: aside; }
	}

	footer {
		margin: 10vw 0 0 0;
		background: linear-gradient(90deg, #480032, #270250);

		section {
			@extend .wrapper;
		}
	}

	/* Pages */

	&#page-home {
		main {
			plane {
			    display: block;
			    position: absolute;
			    top: 0;
			    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(8, 4, 34, 0));
			    min-height: 40vh;
			    width: 100%;
			    z-index: -1;

				hline {
				    display: block;
				    position: absolute;
				    width: 100%;
				    height: 1px;
				    background: #810c80;

					@include line(left, 12);
				}

				vline {
				    display: block;
				    position: absolute;
				    width: 1px;
				    height: 100%;
				    background: #810c80;
				}
			}

			section {
				blog {
					content {
						display: none;

						@media (min-width: 640px) {
							display: block;
						}
					}
				}
			}

			aside {
				display: none;

				@media (min-width: 640px) {
					display: block;
				}
			}
		}
	}
}
